<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Webload</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' />

    <link href="/stylesheets/cover.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
          <a href="/"><h3 class="text-muted">Weload</h3></a>
      </div>


      <%= yield %> 
      
      
      <div class="row marketing">
      <footer class="footer">
          <p>&copy; Webkeyz - <%= Time.now.year %></p>
      </footer>

    </div> <!-- /container -->

               
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
